* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}

button {
  cursor: pointer;
}

/* CUSTOM SCROLLBAR */
  /* width */
  ::-webkit-scrollbar {
    width: 0.8rem;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 1rem;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #F67ACB;
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e97ff7;
  }